
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	<title>Morphed image detection using ELA & CNN Techniques</title>
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg">

			<a class="navbar-brand" href="{{ url_for('home') }}"><b style="color: #33068f;">MORPHED IMAGE DETECTION USING ELA & CNN TECHNIQUES</b></a>
		</nav>
	 
			
			{% if filename %}
			
			<div class="parent">
				<div class="child">
						<h5>{{ret_arr[0]}} Image</h5>
						<img id="bg" class="child" width="300px" height="200px" class="center" src="{{ url_for('display_image', filename=filename) }}" title="{{ret_arr[0]}} Image">
				</div>
				
				<div class="child">
					<h5>ELA of {{ret_arr[0]}} Image</h5>
					<img id="bg" class="child" width="300px" height="200px" class="center" src="{{ela}}" title="ELA Image">
				</div>
			
			</div>
			{% endif %}
			
			{%if init%}
					<h4 class="center">The selected image is {{ret_arr[0]}} with {{ret_arr[1]}}% accuracy</h4>
			{% endif %}
		<div class="">
		<form method="post" action="/" enctype="multipart/form-data" class="main-form">
			<div class="parent">
				<div class="mb-3" >
					<input class="form-control child" type="file" id="file" name="file" required title="Select an Image">
				  </div>
				  <div class="mb-3" >
					<input class="form-control child" type="email" id="email" name="email" required title="Enter email" placeholder="Enter your Email ID">
				</div>
				 
				  <div class="col-12 child">
					  <button type="submit" class="btn btn-primary">DETECT & REPORT</button>
					   &nbsp;
					   &nbsp;
					   &nbsp;
					  {%if filename%}
						  <a href="{{ url_for('home') }}" >
						  <button type="button" class="btn btn-primary">Clear Output</button>
					  </a>
					  {%endif%}
					</div>
			</div>
			</form>
			 
		</div>
	
	 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>